
@model AboutViewModel


<div>
    <h4>Here is your profile description:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
